Application {
  /*backgroundImage: Embed(source="http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg"); */

  backgroundColor: #404040;
   themeColor: #404040;
    fontFamily: Arial;
    paddingLeft:40; paddingRight:40; paddingTop:40; paddingBottom:40;
   color:#999;
}

ApplicationControlBar {
  highlightAlphas: 0.1, 0;
/*  fillAlphas: 0, 0;
  fillColors: #404040, #404040;
  backgroundColor: #404040;
  backgroundAlpha: 1;
  cornerRadius: 0;
  dropShadowEnabled: true;
  shadowDistance: 1;
  shadowDirection: center;
  dropShadowColor: #404040;*/
}
.mdiWindowFocus
{
  backgroundColor: #404040;
  borderColor: #404040;
  
  backgroundAlpha: 1; 
  borderAlpha: .8;
  /*borderColor: #0053E1;
  borderAlpha: 1;
  borderThicknessLeft: 2;
  borderThicknessTop: 0;
  borderThicknessBottom: 2;
  borderThicknessRight: 2;
  roundedBottomCorners: false;
  cornerRadius: 5;
  dropShadowEnabled: false;
  headerHeight: 29;
  backgroundAlpha: 1; 
  
  titleBackgroundSkin: Embed(source="assets/swf/WindowsAssets.swf", symbol="headerBgDefault");*/
}
mdiWindowNoFocus
{
  backgroundColor: #d0d0d0;
  borderColor: #404040;
  backgroundAlpha: .2; 
  borderAlpha: .2;
}

.mypanelTitle {
  color: #444444;
  fontFamily: Arial;
  fontSize: 12;
}
.footer
{
  color:#fff;
}
.whiteboardToolbarStyle {
  backgroundColor: #d0d0d0;
  cornerRadius: 5;
  borderStyle: solid;
  borderThickness: 1;
  paddingBottom: 3;
  paddingTop: 3;
  paddingLeft: 3;
  paddingRight: 3;
}

.meetingNameLabelStyle {
  fontWeight: bold;
  fontSize: 15;
  fontFamily: Arial;
  textAlign: center;
  color: #e1e2e5;
}

.recordingLabelStyle {
  fontWeight: bold;
  fontSize: 15;
  fontFamily: Arial;
  color: #e1e2e5;
}

.videoMessageWarningLabelStyle {
  fontWeight: bold;
  fontSize: 18;
  fontFamily: Arial;
  color: #ffff26;
}

.videoMessageErrorLabelStyle {
  fontWeight: bold;
  fontSize: 18;
  fontFamily: Arial;
  color: #ff2727;
}

.videoMessageBackgroundStyle {
  backgroundAlpha: 0.6;
  backgroundColor: #d0d0d0;
}

.videoToolbarBackgroundTalkingStyle {
  backgroundColor: #20c600;
  backgroundAlpha: 0.6;
}

.videoToolbarBackgroundNotTalkingStyle {
  backgroundColor: #42444c;
  backgroundAlpha: 0.6;
}

.videoToolbarLabelStyle {
  textIndent: 0;
  color: #ffffff;
  fontFamily: Arial;
}

.pollResondersLabelStyle {
  color: #444444;
  fontFamily: Arial;
  fontSize: 16;
  fontWeight: bold;
}

Button, .logoutButtonStyle, .chatSendButtonStyle, .helpLinkButtonStyle, .cameraDisplaySettingsWindowProfileComboStyle, .cameraDisplaySettingsWindowCameraSelector, .languageSelectorStyle, .testJavaLinkButtonStyle, .recordButtonStyleNormal, .recordButtonStyleStart, .recordButtonStyleStop, .micSettingsWindowHelpButtonStyle {
  textIndent: 0;
  paddingLeft: 10;
  paddingRight: 10;
  paddingTop: 5;
  paddingBottom: 5;
  highlightAlphas: 0.4, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #000;
  textRollOverColor: #000;
  textSelectedColor: #000;
  borderColor: #d0d0d0;
  themeColor: haloBlue;
  fontFamily: Arial;
  fontSize: 12;
}

.quickWindowLinkStyle {
  paddingLeft: 0;
  paddingRight: 0;
  textDecoration: underline;
  rollOverColor: #cccccc;
  selectionColor: #999999;
  color: #ffffff;
  textRollOverColor: #504f3d;
  textSelectedColor: #504f3d;
}

.helpLinkButtonStyle {
  paddingLeft: 4;
  paddingRight: 4;
  paddingTop: 2;
  paddingBottom: 2;
  fontSize: 16;
  rollOverColor: #fff;
  selectionColor: #ffffff;
  color: #ffffff;
  textRollOverColor: #504f3d;
  textSelectedColor: #504f3d;
  fontWeight: bold;
}

.testJavaLinkButtonStyle {
  paddingLeft: 4;
  paddingRight: 4;
  paddingTop: 2;
  paddingBottom: 2;
  fontSize: 14;
  rollOverColor: #cccccc;
  selectionColor: #cccccc;
  color: #e3e3e3;
  textRollOverColor: #504f46;
  textSelectedColor: #504f46;
  fontWeight: bold;
  textDecoration: none;
}

.javaVersionRequiredLabelStyle {
  fontSize: 12;
  color: #000000;
  fontFamily: Arial;
}

.logoutButtonStyle {
  paddingLeft: 0;
  paddingRight: 0;
  icon: Embed('assets/images/logout.png');
}

DataGrid {
  backgroundColor: #e1e2e5;
  rollOverColor: #f3f3f3;
  textRollOverColor: #000;
  selectionColor: #e1e2e5;
  color: #000;
  textSelectedColor: #fff;
  dropShadowEnabled: false;
  fontFamily: arial;
  fontSize: 11;
  headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
  color: #000;
  fontFamily: arial;
  fontSize: 12;
}


.whiteboardUndoButtonStyle, .whiteboardCircleButtonStyle, .whiteboardClearButtonStyle,
.whiteboardTriangleButtonStyle, .whiteboardTextButtonStyle, .whiteboardRectangleButtonStyle,
.whiteboardPanZoomButtonStyle, .whiteboardLineButtonStyle, .whiteboardScribbleButtonStyle
{
  textIndent: 0;
  paddingLeft: 0;
  paddingRight: 0;
  paddingTop: 5;
  paddingBottom: 5;
  highlightAlphas: 0.4, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #fff;
  textRollOverColor: #fff;
  textSelectedColor: #fff;
  borderColor: #d0d0d0;
  themeColor: haloBlue;
  fontFamily: Arial;
  fontSize: 12;
}

.whiteboardUndoButtonStyle 
{
  icon: Embed('assets/images/undo.png');
}

.whiteboardCircleButtonStyle {
  icon: Embed('assets/images/ellipse.png');  
}

.whiteboardClearButtonStyle {
  icon: Embed('assets/images/delete.png');    
}

.whiteboardScribbleButtonStyle{
  icon: Embed('assets/images/pencil.png');  
}

.whiteboardLineButtonStyle {
  icon: Embed('assets/images/line.png');    
}

.whiteboardPanZoomButtonStyle {
  icon: Embed('assets/images/hand.png');   
}

.whiteboardRectangleButtonStyle {
  icon: Embed('assets/images/square.png');   
}

.whiteboardTextButtonStyle {
  icon: Embed('assets/images/text.png');   
}

.whiteboardTriangleButtonStyle {
  icon: Embed('assets/images/triangle.png');    
}

.voiceConfDefaultButtonStyle {
  icon: Embed('assets/images/headset.png');    
}

.voiceConfActiveButtonStyle {
  icon: Embed('assets/images/headset_open.png');    
}

.voiceConfInactiveButtonStyle {
  icon: Embed('assets/images/headset_close.png');    
}

.webcamDefaultButtonStyle {
  icon: Embed('assets/images/webcam.png');    
}

.webcamOnButtonStyle {
  icon: Embed('assets/images/webcam_on.png');    
}

.webcamOffButtonStyle {
  icon: Embed('assets/images/webcam_close.png');    
}

.deskshareDefaultButtonStyle {
  icon: Embed('assets/images/deskshare_icon.png');    
}

.deskshareOnButtonStyle {
  icon: Embed('assets/images/deskshare_on.png');    
}

.deskshareOffButtonStyle {
  icon: Embed('assets/images/deskshare_close.png');    
}


.presentationUploadButtonStyle, .pollStartButtonStyle, .presentationBackButtonStyle, .presentationBackButtonDisabledStyle, .presentationForwardButtonStyle, .presentationForwardButtonDisabledStyle,
.presentationFitToWidthButtonStyle, .presentationFitToPageButtonStyle 
{
  textIndent: 0;
  paddingLeft: 10;
  paddingRight: 10;
  paddingTop: 5;
  paddingBottom: 5;
  highlightAlphas: 0.4, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #fff;
  textRollOverColor: #fff;
  textSelectedColor: #fff;
  borderColor: #d0d0d0;
  themeColor: haloBlue;
  fontFamily: Arial;
  fontSize: 12;
}

.presentationUploadButtonStyle {
  icon:   Embed('assets/images/upload.png');   
}

.pollStartButtonStyle {
  icon:   Embed('assets/images/poll_icon.png');
}

.presentationBackButtonStyle {
  icon:   Embed('assets/images/left-arrow.png'); 
}

.presentationBackButtonDisabledStyle {
  icon:   Embed('assets/images/left-arrow-disabled.png'); 
}

.presentationForwardButtonStyle {
  icon:   Embed('assets/images/right-arrow.png'); 
}

.presentationForwardButtonDisabledStyle {
  icon:   Embed('assets/images/right-arrow-disabled.png'); 
}

.presentationFitToWidthButtonStyle {
  icon:   Embed('assets/images/fit-to-width.png'); 
}

.presentationFitToPageButtonStyle {
  icon:   Embed('assets/images/fit-to-screen.png'); 
}

.presentationZoomSliderStyle{
  labelOffset: 0;
  thumbOffset: 3;
  dataTipOffset: -1;
  tickOffset: 2;
  tickLength: 5;
  tickThickness: 2;
  tickColor: #6cccff;
  showTrackHighlight: true;
  invertThumbDirection: false;
  borderColor: #d0d0d0;
  trackColors: #aaaaaa, #aaaaaa;
  themeColor: haloBlue;
  fillAlphas: 1, 1, 1, 1;
  fillColors:  #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  labelStyleName: "presentationZoomSliderLabelStyle";
}

.presentationZoomSliderLabelStyle {
  color: #fff;
  fontFamily: Arial;
}

.deskshareControlButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #000;
  textRollOverColor: #000;
  textSelectedColor: #000;
  borderColor: #d0d0d0;  
  cornerRadius: 17;
}

.videoMuteButtonStyle, .videoUnmutedButtonStyle, .videoSwitchPresenterButtonStyle, .videoEjectUserButtonStyle, .videoPrivateChatButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors:  #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #fff;
  textRollOverColor: #fff;
  textSelectedColor: #fff;
  borderColor: #d0d0d0;  
  cornerRadius: 17;
}

.videoMutedButtonStyle {
  /* Need to duplicate info here as the styleName is programatically changed. Extracting it out doesn't have any effect. */
  fillAlphas: 1, 1, 1, 1;
  fillColors:  #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #ffffff;
  textRollOverColor: #fff;
  textSelectedColor: #fff;
  borderColor: #d0d0d0;  
  cornerRadius: 17;
  icon:   Embed('assets/images/webcam-muted.png');
}

.videoUnmutedButtonStyle {
  icon:   Embed('assets/images/webcam-unmuted.png');
}

.videoSwitchPresenterButtonStyle {
  icon:   Embed('assets/images/webcam-switch-presenter.png');
}

.videoEjectUserButtonStyle {
  icon:   Embed('assets/images/webcam-eject-user.png');
}

.videoPrivateChatButtonStyle {
  icon:   Embed('assets/images/webcam-private-chat.png');
}

TitleWindow {
  borderColor: #404040;
  borderAlpha: 1;
  borderThicknessLeft: 10;
  borderThicknessTop: 0;
  borderThicknessBottom: 10;
  borderThicknessRight: 10;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundAlpha: 1;
  backgroundColor: #d0d0d0;
  dropShadowEnabled: true;
}

.presentationFileUploadWindowTitleStyle, .presentationUploadTitleStyle {
  fontFamily: Arial;
  fontSize: 20;  
  fontWeight: bold;
}

.presentationNamesLabelStyle {
  fontFamily: Arial;
  fontSize: 14;  
  fontWeight: bold;
}

.presentationUploadChooseFileButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #000;
  textRollOverColor: #000;
  textSelectedColor: #000;
  borderColor: #d0d0d0;  
  cornerRadius: 5;  
}

.presentationUploadCancelButtonStyle {
   fillAlphas: 1, 1, 1, 1;
  fillColors: #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #000;
  textRollOverColor: #000;
  textSelectedColor: #000;
  borderColor: #d0d0d0;  
  cornerRadius: 5;   
}

.presentationUploadShowButtonStyle {
   fillAlphas: 1, 1, 1, 1;
  fillColors: #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #000;
  textRollOverColor: #000;
  textSelectedColor: #000;
  borderColor: #d0d0d0;  
  cornerRadius: 5;  
}

.presentationUploadDeleteButtonStyle {
   fillAlphas: 1, 1, 1, 1;
  fillColors: #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  color: #000;
  textRollOverColor: #000;
  textSelectedColor: #000;
  borderColor: #d0d0d0;  
  cornerRadius: 5;     
  icon:   Embed('assets/images/trash.png');
}

.presentationUploadProgressBarLabelStyle {
  
}

.presentationUploadProgressBarStyle {
  
}

.presentationNameLabelStyle {

}

.presentationUploadFileFormatHintBoxStyle {
  backgroundColor: #404040;
  color: #fff;
  dropShadowEnabled: false;
  paddingLeft: 10;
  paddingRight: 10
}

.presentationUploadFileFormatHintTextStyle {
  fontWeight: bold;
}

.desktopShareTextStyle {
  fontSize: 11;
  fontWeight: bold; 


}

.chromeJavaHelpImage {
  imageSource: Embed(source='assets/images/chromePluginBlocked.png');
}


.webcamSettingsWindowTitleStyle, .micSettingsWindowTitleStyle {
  fontFamily: Arial;
  fontSize: 20;  
  fontWeight: bold;
}

.micSettingsWindowTestSpeakersLabelStyle, .micSettingsWindowTestMicrophoneLabelStyle {
  fontFamily: Arial;
  fontSize: 14;  
  fontWeight: bold;    
}

.micSettingsWindowHearFromHeadsetLabelStyle, .micSettingsWindowSpeakIntoMicLabelStyle, .micSettingsWindowMicNameLabelStyle, .webcamPermissionSettingsTextStyle {
  fontFamily: Arial;
  fontSize: 14;    
}

.micSettingsWindowPlaySoundButtonStyle, .micSettingsWindowChangeMicButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  rollOverColor: #000;
  color: #000;
  textRollOverColor: #000;
  textSelectedColor: #000;
  borderColor: #d0d0d0;  
  cornerRadius: 5;      
}

.micSettingsWindowJoinButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors:  #d0d0d0, #d0d0d0, #d0d0d0, #d0d0d0;
  rollOverColor: #eeeeee;
  color: #fff;
  textRollOverColor: #fff;
  textSelectedColor: #fff;
  borderColor: #d0d0d0;  
  cornerRadius: 5; 
  icon:   Embed('assets/images/headset.png');
}

.micSettingsWindowCancelButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #404040, #d0d0d0, #d0d0d0, #d0d0d0;
  rollOverColor: #eeeeee;
  color: #000;
  textRollOverColor: #000;
  textSelectedColor: #000;
  borderColor: #404040;  
  cornerRadius: 5;    
}

.micSettingsWindowHelpButtonStyle {
  paddingLeft: 4;
  paddingRight: 4;
  paddingTop: 2;
  paddingBottom: 2;
  fontSize: 16;
  rollOverColor: #cccccc;
  selectionColor: #999999;
  color: #504f3d;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  fontWeight: bold;
}

MDIWindow { /*None of the following properties are overridden by the MDIWindow class*/
  backgroundSize: '100%';
  
  cornerRadius: 5;
  dropShadowEnabled: false;
  titleStyleName: "mdiWindowTitle";
  
  cornerResizeImg: Embed(source="assets/swf/Blue.swf", symbol="Corner_Resize");
  cornerResizeWidth: 2;
  cornerResizeHeight: 2;
  cornerResizePaddingRight: 2;
  cornerResizePaddingBottom: 2;
  
  controlButtonWidth: 10;
  controlButtonHeight: 10;
  controlButtonGap: 4;
}

.mdiWindowFocus, .presentationWindowStyleFocus, .videoDockStyleFocus
{
  headerHeight: 26;
  roundedBottomCorners: true;
  backgroundColor: #d0d0d0;
  backgroundAlpha: 1;
  
  borderStyle: solid;
  borderColor: #d0d0d0;
  borderAlpha: 1;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.mdiWindowNoFocus, .presentationWindowStyleNoFocus, .videoDockStyleNoFocus
{
  headerHeight: 26;
  roundedBottomCorners: true;
  backgroundColor: #d0d0d0;
  backgroundAlpha: 0.5;
  
  borderStyle: solid;
  borderColor: #d0d0d0;
  borderAlpha: 0.5;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.presentationSlideViewStyle {
  backgroundColor: #d0d0d0;
}

.presentationWindowControlsStyle {
  paddingBottom: 5;
  paddingTop: 3;
  paddingLeft: 3;
  paddingRight: 3;
  bottom: 5;
  cornerRadius: 0;
  dropShadowEnabled: false;
}

.videoViewStyleNoFocus 
{
  headerHeight: 20;
  roundedBottomCorners: true;
  backgroundColor: #e6e6e6;
  backgroundAlpha: 0.5;
  
  borderStyle: solid;
  borderColor: #d0d0d0;
  borderAlpha: 0.5;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.videoViewStyleFocus 
{
  headerHeight: 20;
  roundedBottomCorners: true;
  backgroundColor: #e6e6e6;
  backgroundAlpha: 1;
  
  borderStyle: solid;
  borderColor: #d0d0d0;
  borderAlpha: 1;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.videoPublishStyleNoFocus 
{
  headerHeight: 20;
  roundedBottomCorners: true;
  backgroundColor: #e6e6e6;
  backgroundAlpha: 0.5;
  
  borderStyle: solid;
  borderColor: #d0d0d0;
  borderAlpha: 0.5;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.videoPublishStyleFocus 
{
  headerHeight: 20;
  roundedBottomCorners: true;
  backgroundColor: #e6e6e6;
  backgroundAlpha: 1;
  
  borderStyle: solid;
  borderColor: #d0d0d0;
  borderAlpha: 1;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.videoAvatarStyleNoFocus 
{
  headerHeight: 20;
  roundedBottomCorners: true;
  backgroundColor: #e6e6e6;
  backgroundAlpha: 0.5;
  
  borderStyle: solid;
  borderColor: #d0d0d0;
  borderAlpha: 0.5;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.videoAvatarStyleFocus 
{
  headerHeight: 20;
  roundedBottomCorners: true;
  backgroundColor: #e6e6e6;
  backgroundAlpha: 1;
  
  borderStyle: solid;
  borderColor: #d0d0d0;
  borderAlpha: 1;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.mdiWindowTitle {
  color: #000;
  fontFamily: Arial;
  fontSize: 12;
  fontWeight: bold;
}

.closeBtnFocus, .closeBtnNoFocus
{
  upSkin:        Embed('assets/images/3_closeButton.png');
  overSkin:      Embed('assets/images/3_closeButton.png');
  downSkin:      Embed('assets/images/3_closeButton.png');
  disabledSkin:  Embed('assets/images/3_closeButton.png');
}


.increaseBtnFocus, .increaseBtnNoFocus
{
  upSkin:        Embed('assets/images/3_increaseButton.png');
  overSkin:      Embed('assets/images/3_increaseButton.png');
  downSkin:      Embed('assets/images/3_increaseButton.png');
  disabledSkin:  Embed('assets/images/3_increaseButton.png');
}

.decreaseBtnFocus, .decreaseBtnNoFocus  
{
 /* upSkin:        Embed('assets/images/3_decreaseButton.png');
  overSkin:      Embed('assets/images/3_decreaseButton.png');
  downSkin:      Embed('assets/images/3_decreaseButton.png');
  disabledSkin:  Embed('assets/images/3_decreaseButton.png');*/
}

.minimizeBtnFocus 
{
  upSkin:        Embed('assets/images/3_minimizeButton.png');
  overSkin:      Embed('assets/images/3_minimizeButton.png');
  downSkin:      Embed('assets/images/3_minimizeButton.png');
  disabledSkin:  Embed('assets/images/3_minimizeButton.png');
}

/*
https://www.iconfinder.com/icons/172512/mute_icon#size=128
*/
.muteOverlayBtn
{
  upSkin:        Embed('assets/images/audio_20_white.png');
  overSkin:      Embed('assets/images/audio_20_white.png');
  downSkin:      Embed('assets/images/audio_20_white.png');
  disabledSkin:  Embed('assets/images/audio_20_white.png');
}

/*
https://www.iconfinder.com/icons/172499/low_volume_icon#size=128
*/
.unmuteOverlayBtn
{
  upSkin:        Embed('assets/images/audio_muted_20_white.png');
  overSkin:      Embed('assets/images/audio_muted_20_white.png');
  downSkin:      Embed('assets/images/audio_muted_20_white.png');
  disabledSkin:  Embed('assets/images/audio_muted_20_white.png');
}

.resizeHndlr 
{
  upSkin:        Embed('assets/images/resizeHandler.png');
  overSkin:      Embed('assets/images/resizeHandler.png');
  downSkin:      Embed('assets/images/resizeHandler.png');
  disabledSkin:  Embed('assets/images/resizeHandler.png');
}

.cameraDisplaySettingsWindowStartBtn
{
  icon:   Embed('assets/images/webcam.png');
}

.cameraDisplaySettingsWindowStartBtnDisabled
{
  icon: Embed('assets/images/webcam.png');
  color: #AAB3B3;
  textSelectedColor: #AAB3B3;
  fillAlphas: 0.45, 0.25;  
}

Alert {
  borderColor: #404040;
  backgroundColor: #404040;
  borderAlpha: 1;
  shadowDistance: 1;
  dropShadowColor: #FFFFFF;
  color: #ffffff;
}

.lockSettingsDefaultLabelStyle {
  fontFamily: Arial;
  fontSize: 14;
}

.lockSettingsWindowTitleStyle {
  fontFamily: Arial;
  fontSize: 20;  
  fontWeight: bold;
}

.recordButtonStyleNormal {
  icon:   Embed('assets/images/control-record.png');
}

.recordButtonStyleStart {
  icon:   Embed('assets/images/control-record-start.png');
}

.recordButtonStyleStop {
  icon:   Embed('assets/images/control-record-stop.png');
}

.statusImageStyle {
  successImage:   Embed(source='assets/images/status_success.png');
  warningImage:   Embed(source='assets/images/status_warning.png');
  failImage:      Embed(source='assets/images/status_fail.png');
  refreshImage:   Embed(source='assets/images/status_refresh.png');
}

.warningButtonStyle {
  icon:   Embed('assets/images/status_warning_20.png');
}

.statusTitleStyle {
  fontWeight: bold;
  fontSize: 12;
  paddingBottom: 0;
}

.statusMessageStyle {
  fontSize: 12;
  paddingTop: 0;
}

.statusTimeStyle {
  fontSize: 10;
  paddingTop: 0;
}

PollChoicesModal {
  fontSize: 14;
  paddingLeft: 16;
  paddingRight: 16;
}

.chatOptionsLabel {
  fontSize: 12;
  color: #000000;
  textRollOverColor: #000000;
  textSelectedColor: #000000;
  fontFamily: Arial;
}

EmojiGrid {
  backgroundColor: #ffffff;
  horizontalAlign: center;
  paddingLeft: 0;
  paddingRight: 0;
  paddingBottom: 0;
  paddingTop: 0;
}

.emojiGridTile {
  paddingBottom: 10;
  paddingLeft: 10;
  paddingRight: 10;
  paddingTop: 10;
  verticalGap: 6;
  horizontalGap: 6;
}