
<?php echo $this->element('inner_menu'); ?>
<?php echo $this->element('center_menu'); ?>

<section class="main_content">
	<div class="container">
    	<div class="box_design">
        	<div class="row">
            	<div class="col-sm-12">
                	<p>Congratulations, your registration have been completed .</p>
                </div>                
            </div>
        </div>
    </div>
</section>