@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
body {
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:0px;
	margin:0px;
}
.login, .signup {
	background: #96d1f1;
}
-webkit-keyframes bugfix{from{padding:0}to{padding:0}}
/* Form Module */
.logo {
  padding:10% 0 0;
  text-align: center;
  letter-spacing: 2px;
}
.logo h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
  color:#fff;
}
.form-module {
	position: relative;
	background: #135879;
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.form-module h2 {
	margin: 0 0 0px;
	color: #33b5e5;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
}
.form-module .form {
	padding: 25px 25px 0;
}
.form-module label {
	color: #fff;
}
.form-module button {
	cursor: pointer;
	background: #33b5e5;
	width: 100%;
	border: 0;
	padding: 10px 15px;
	color: #ffffff;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
.form-module button:hover {
	background: #178ab4;
}
.form-module .cta {
	background: #f2f2f2;
	width: 100%;
	padding: 15px 40px;
	box-sizing: border-box;
	color: #666666;
	font-size: 12px;
	text-align: center;
}
.form-module .cta a {
	color: #333333;
	text-decoration: none;
}
.form-module .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	margin-left: 8px;
	border: 0px;
	position: relative;
}
.checkbox-btn, .radio-btn {
	position: relative;
	padding-left: 40px
}
.checkbox-btn input[type="checkbox"], .checkbox-btn input[type="radio"], .radio-btn input[type="checkbox"], .radio-btn input[type="radio"] {
	position: absolute;
	opacity: 0;
	z-index: 1
}
.checkbox-btn label, .radio-btn label {
	display: inline-block;
	line-height: 24px;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
	cursor: pointer;
	user-select: none;
	color: #fff
}
.checkbox-btn label::after, .radio-btn label::after {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	left: 0;
	top: 4px;
	margin-left: -18px;
	background-color: transparent;
	border: 1px solid #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-clip: padding-box;
	cursor: pointer
}
.checkbox-btn label::before, .radio-btn label::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 5px;
	top: 10px;
	left: 6px;
	margin-left: -20px;
	border: 1px solid #fff;
	border-top: none;
	border-right: none;
	background: transparent;
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0;
	-webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	z-index: 1
}
.checkbox-btn label:active::before, .radio-btn label:active::before {
	opacity: 0.7
}
.checkbox-btn input[type="checkbox"]:checked+label, .checkbox-btn input[type="radio"]:checked+label, .radio-btn input[type="checkbox"]:checked+label, .radio-btn input[type="radio"]:checked+label {
	color: #fff
}
.checkbox-btn input[type="checkbox"]:checked+label::after, .checkbox-btn input[type="radio"]:checked+label::after, .radio-btn input[type="checkbox"]:checked+label::after, .radio-btn input[type="radio"]:checked+label::after {
	border: 1px solid #fff;
}
.checkbox-btn input[type="checkbox"]:checked+label::before, .checkbox-btn input[type="radio"]:checked+label::before, .radio-btn input[type="checkbox"]:checked+label::before, .radio-btn input[type="radio"]:checked+label::before {
	opacity: 1
}
.checkbox-btn input[type="checkbox"]:disabled+label, .checkbox-btn input[type="radio"]:disabled+label, .radio-btn input[type="checkbox"]:disabled+label, .radio-btn input[type="radio"]:disabled+label {
	color: #fff;
	cursor: default
}
.checkbox-btn input[type="checkbox"]:disabled+label::after, .checkbox-btn input[type="radio"]:disabled+label::after, .radio-btn input[type="checkbox"]:disabled+label::after, .radio-btn input[type="radio"]:disabled+label::after {
	border: 3px solid #787878;
	background-color: #ffffff
}
.checkbox-btn input[type="checkbox"]:disabled+label::before, .checkbox-btn input[type="radio"]:disabled+label::before, .radio-btn input[type="checkbox"]:disabled+label::before, .radio-btn input[type="radio"]:disabled+label::before {
	display: none
}
.radio-btn label::after {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-clip: padding-box
}
.radio-btn label::before {
	width: 12px;
	height: 12px;
	border: none;
	top: 6px;
	left: 6px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-clip: padding-box;
	background-color: #000000;
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}
.login-header {
	background: #196d8f;
	padding: 15px 10px;
	text-align: center;
	border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}
.login-header h2 {
	color: #fff;
}
.login-footer {
	padding: 10px;
	background: #196d8f;
	padding: 10px 25px;
	border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}
.login-footer a {
	color: #fff;
	text-decoration: underline;
	padding: 10px;
	line-height: 28px;
}
.form-module button {
	background: rgba(255,255,255,0.5);
	color: #000;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 5px 20px;
	width:auto;
}
.form-module button:hover, .form-module button:focus  {
	background: rgba(255,255,255,0.7);
	color: #000;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 5px 20px;
	width:auto;
}

.form-control{
	background:rgba(255,255,255,0.84);
	border-radius:0px;
	border:1px solid rgba(0,0,0,0.5);
}
.module span{color:#fff;}
.checkbox-btn > input {
  height: 18px;
  left: 0;
  width: 100%;
}
.checkbox-btn {
  margin-left: 26px;
  padding-left: 18px;
}
.signup .login-footer {
	padding: 10px;
	background: #196d8f;
	padding: 10px 15px;
	border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}
.signup .checkbox-btn{
	margin-left:6px;
}
.nopadd{
	padding:0px;
}
.top_header{
	background:#186d8f;
}
.navbar-default{
	background-color:transparent;
	border-color:transparent;
}
.navbar-default .navbar-brand{
	color:#fff;
}
.navbar-default .navbar-nav > li > a{
	color:#fff;
	font-size:14px;
}
.navbar{
	margin-bottom:0px;
}
.current{
	background:rgba(255,255,255,0.2);
	margin:0px 2px;
}
header + div{
	width:100% !important;
}
.nav-tabs>li>a {
  background-color: #FFF; 
 /* border-color: #186d8f;/ /*50%*/
  color:#186d8f;
  font-size:18px;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #186d8f;
  border:0px;
 /* border: 1px solid #186d8f;*/
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #186d8f;
  background-color: #186d8f;
  color:#fff;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

/* center tabs */
.nav-tabs, .nav-pills {
    text-align:center;
}

/* line below tabs */
.nav-tabs {
    border-bottom: 1px solid #e5e5e5;
}

/* center logo */
.img-center {
  margin:0 auto;
  padding: 15px;
}

.col-md-6 {
  padding: 15px;
  /*border-style: solid;*/
}

.new-row {
  clear: left;    
}
  
.no-title-col {
  padding-top: 30px;      
}
.nav-tabs > li{
	margin-bottom:0px;
}
.nav-tabs .active {
	position: relative;
	background: #186d8f;
}
.nav-tabs .active:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(24, 109, 143, 0);
	border-top-color: #186d8f;
	border-width: 10px;
	margin-left: -10px;
}
.nav-tabs > li > a{
	border-radius:0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	border-width:1px solid #186d8f;
}
.tab-content{
	margin:5% 0px;
	font-size:14px;
}
.feature{
	width:80%;
	height:80%;
}
.tab-content p{
	margin:15px 0px;
}
.aboutus{
	background:#e7f0f4;
	padding:40px 0px 60px;
}
.testimonial .span_left{
	color: #000;
    font-size:20px;;
}
.testimonial .span_right{
	color: #000;
    font-size:20px;
}
.testimonial p{
	text-indent:-10px;
}
footer{
	background:#186d8f;
	padding:15px 0px;
}
footer h4{
	color:#fff;
	font-weight:bold;
}
footer ul{
	margin:0px;
	padding:0px;
}
footer ul li{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
footer ul li a{
	color:#fff;
}
footer ul li a:hover, footer ul li a:focus {
	color:#ccc;
	text-decoration:none;
}
.social ul li{
	float:left;
}
.social ul li a{
	color:#368aac;
}
.breadcrumb{
	background-color:transparent;
	margin-bottom:0px;
	border-bottom:1px solid #e5e5e5;
}
.breadcrumb ul {
	margin:0px;
	padding:0px;
}
.breadcrumb ul li{
	list-style-type:none;
	margin:0px;
	padding:5px 0px 5px;
}
.breadcrumb a{
	color:#000;
	text-decoration:none;
}
.account_manager_title{
	border-bottom:1px solid #e5e5e5;
}
.account_manager_title h4{
	background:#186d8f;
	border-bottom:4px solid #03425c;
	color:#fff;
	padding: 10px;
    text-align: center;
    width: 195px;
	margin-bottom:10px;
}
.page_title h2 {
  position: relative;
  text-align: center;
  color:#fff;
}

.page_title h2 span {
  background: #186d8f;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.page_title h2:before {
  background: #e5e5e5;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
.page_title h2:before {
  left: 0;
}
.main_content{
	margin:10px 0px;
}
.recording_box{
	border:1px solid #186d8f;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin-bottom:10px;
}
.recording_box h1{
	text-transform:uppercase;
	margin:10px 0px;
}
.link_title{
	background:rgba(122,217,255,0.5);
	text-align:center;
	border-top:1px solid #186d8f;
	border-bottom:1px solid #186d8f;
}
.box{
	padding:10px;
}
.list_btn a{
	display:block;
	text-decoration:none;
}
.list_btn i{
	background:#186d8f;
	padding:5px;	
}
.list_btn a i{
	color: #fff;
    min-width: 35px;
    padding: 10px;
    text-align: center;
}
.list_btn div{
	margin-bottom:5px;
	background:rgba(122,217,255,0.5);
}
.list_btn span{
	margin-left:5px;
	color:#000;
}
.box h1{
	padding:38px 15px;
}
.btn-primary{
	background-color:#186d8f;
	border-color:#186d8f;
}
.btn-primary:hover, .btn-primary:focus{
	background-color:#0a5978;
	border-color:#0a5978;
}
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary{
	background-color:#0a5978 !important;
	border-color:#0a5978 !important;
}
.detail_center{
	text-align:center;
	padding:25px 0px;
}
.link_title a{
	color:#000;
	font-weight:500;
}
.pagination_box{
	border:1px solid #e5e5e5;
}
.pagination_box ul{
	margin:0px;
	padding:0px;
}
.pagination_box ul li{
	list-style-type:none;
	padding:10px 0px 10px 6px;
	margin:0px;
	float:left;
}
.numeric_paginaion ul li a{
	background:rgba(122, 217, 255, 0.5);
	color:#000;
	padding:5px 10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.numeric_paginaion .active a{
	background:#186d8f;
	color:#fff;
	padding:5px 10px;
}

.next_previous {
    float: right;
    padding: 0 15px 0 0;
}
@media (min-width: 320px) {
.form-module {
	position: relative;
	background: #135879;
	min-width: 300px;
}
}
@media (min-width: 360px) {
.form-module {
	position: relative;
	background: #135879;
	min-width: 340px;
}
}

@media (max-width: 640px) {
.list_btn{
	margin:10px 0px;
}

}
@media (max-width: 800px) {
.box h1{
	font-size:28px;
}
}