
<p>For Meeting Note Mail</p>

<table>
	
	<tr><td>Meeting Name</td><td><?php echo $meeting_name; ?></td>
	</tr>
	<tr><td>Meeting Date</td><td><?php echo $meeting_date; ?></td>
	</tr>
	<tr><td>Meeting Time</td><td><?php echo $meeting_time; ?></td>
	</tr>
	<tr><td>Meeting Description</td><td><?php echo $email_message; ?></td>
	</tr>
</table>
<?php $link = $this->Url->build("/meetings/JoinAttendee/".$meeting_id, true); ?>
<?php //$link = "http://$_SERVER[SERVER_NAME]:$_SERVER[SERVER_PORT]/users/resetPassword?reset_token=$token"; ?>
<strong><?= $this->Html->link(__('click here To join Meeting'), "$link"); ?></strong> </p>