<?php use Cake\Routing\Router; ?>
<p>For Reset Password please click on 
<?php $link = $this->Url->build("/users/resetPassword?reset_token=".$token, true); ?>
<?php //$link = "http://$_SERVER[SERVER_NAME]:$_SERVER[SERVER_PORT]/users/resetPassword?reset_token=$token"; ?>
<strong><?= $this->Html->link(__('here'), "$link"); ?></strong> </p>